.button{
  border-radius: 65px;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  letter-spacing: .25rem;
  line-height: 65px;
  margin: 1rem auto;
  max-width: 320px;
  padding: 0 2rem;
  transition: 200ms all ease-in;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &--primary{
    background: #663FEF;
    border: 2px solid #663FEF;
    color: #fff;
    font-weight: bold;

    &:hover{
      background: none;
      color: #663FEF;
    }
  }

  &--inverse{
    background: none;
    border: 2px solid #663FEF;
    color: #663FEF;
    font-weight: bold;

    &:hover{
      background: #663FEF;
      border: 2px solid #663FEF;
      color: #fff !important;
    }
  }

  &--tweet{
    align-items: center;
    border: 2px solid #00aced;
    color: #00aced;
    display: flex;
    font-size: .75rem;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    line-height: 40px;

    svg{
      fill: #00aced;
      margin-right: 1rem;
      margin-top: -2px;
    }

    &:hover{
      background: #00aced;
      color: #fff;

      svg{
        fill: #fff;
      }
    }
  }

  &--facebook{
    align-items: center;
    border: 2px solid #3b5998;
    color: #3b5998;
    display: flex;
    font-size: .75rem;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    line-height: 40px;

    svg{
      fill: #3b5998;
      margin-right: 1rem;
      margin-top: -3px;
    }

    &:hover{
      background: #3b5998;
      color: #fff;

      svg{
        fill: #fff;
      }
    }
  }
}