@import "mixins/normalize";
@import "mixins/buttons";

$hoverAnimate: all 200ms ease-in-out;

body{
  background-color: #f7f7f7;
  background-image: url(../images/background.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header{
  #navigation{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;

    .logo{
      align-items: center;
      color: #333;
      display: flex;
      flex-direction: column;
      font-family: 'Playfair Display', serif;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 1rem auto;
      text-decoration: none;
      transition: all 200ms ease-in;

      &:hover{
        color: #663FEF;

        img{
          transform: rotate(360deg);
        }
      }

      img{
        max-width: 60px;
        transition: all 500ms cubic-bezier(.68,-0.55,.27,1.55);
      }
    }

    ul{
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        margin: 1rem;

        a{
          color: #555;
          display: block;
          line-height: 40px;
          position: relative;
          text-decoration: none;
          transition: all 100ms ease-in;

          &:after{
            background-color: #663FEF;
            bottom: 0;
            content: "";
            height: 5px;
            left: 0;
            position: absolute;
            transition: $hoverAnimate;
            width: 0;
          }

          &:hover{
            margin-top: -.1rem;
            opacity: .8;

            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#hero{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 400px;

  h1{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    line-height: 6rem;
    margin: 0;
    padding: 3rem 0 6rem;
    text-align: center;
    white-space: pre-line;
  }

  h3{
    color: #663FEF;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin: -3rem 0 0;
    padding: 0;
    text-align: center;
  }

  &__header{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  &__body{
    background: #53FFDB;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

    p{
      font-size: 1.2rem;
      line-height: 150%;
      margin: 1rem 0;
      padding: 0 2rem;
      text-align: left;
    }

    .info{
      font-size: .8rem;
      font-style: italic;
    }
  }
}

@media only screen and (min-width: 740px){
  body{
    font-size: 18px;
  }

  header{
    #navigation{
      flex-direction: row;

      .logo{
        flex-direction: row;
        margin: 1rem;
      }
    }
  }
}