@import "mixins/normalize";
@import "mixins/buttons";

$hoverAnimate: all 200ms ease-in-out;

*::selection{
  background-color: #663FEF;
  color: #53FFDB;
}

body{
  background-color: #f7f7f7;
  background-image: url(../images/background.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header{
  #navigation{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;

    .logo{
      align-items: center;
      color: #333;
      display: flex;
      flex-direction: column;
      font-family: 'Playfair Display', serif;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 1rem auto;
      text-decoration: none;
      transition: all 200ms ease-in;

      &:hover{
        color: #663FEF;

        img{
          transform: rotate(360deg);
        }
      }

      img{
        max-width: 60px;
        transition: all 500ms cubic-bezier(.68,-0.55,.27,1.55);
      }
    }

    ul{
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        margin: 1rem;

        a{
          color: #555;
          display: block;
          line-height: 40px;
          position: relative;
          text-decoration: none;
          transition: all 100ms ease-in;

          &:after{
            background-color: #663FEF;
            bottom: 0;
            content: "";
            height: 5px;
            left: 0;
            position: absolute;
            transition: $hoverAnimate;
            width: 0;
          }

          &:hover{
            opacity: .8;

            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#hero{
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 500px;

  h1{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    line-height: 6rem;
    margin: 0;
    padding: 3rem 0 6rem;
    text-align: center;
    white-space: pre-line;
  }

  h3{
    color: #663FEF;
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    margin: -4rem 0 0;
    padding: 0;
    text-align: center;
  }

  &__header{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  &__body{
    background: #53FFDB;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem;
    text-align: center;
    width: 100%;

    p{
      font-size: 1.2rem;
      line-height: 150%;
      margin: 1rem 0;
      padding: 0 2rem;
      text-align: left;

      a{
        color: #663FEF;
        font-style: italic;
        font-weight: bold;
        position: relative;
        text-decoration: none;
      }
    }

    .info{
      font-size: .8rem;
      font-style: italic;
    }
  }
}

footer{
  #footer__navigation{
    ul{
      align-items: center;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
      margin: 0 0 2rem;
      padding: 0;

      li{
        margin: 0 2rem;
        list-style: none;

        a{
          color: #555;
          display: block;
          font-size: .9rem;
          line-height: 40px;
          position: relative;
          text-decoration: none;
          transition: all 100ms ease-in;

          &:after{
            background-color: #53FFDB;
            bottom: 0;
            content: "";
            height: 5px;
            left: 0;
            position: absolute;
            transition: $hoverAnimate;
            width: 0;
          }

          &:hover{
            opacity: .8;

            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 740px){
  body{
    font-size: 18px;
  }

  header{
    #navigation{
      flex-direction: row;

      .logo{
        flex-direction: row;
        margin: 1rem;
      }
    }
  }

  footer{
    #footer__navigation{
      ul{
        flex-direction: row;
      }
    }
  }
}

.privacy-policy{
  #hero{
    margin: 6rem auto;
    max-width: 600px;

    h3{
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}

.subpage{
  article{
    background: #fff;
    font-size: .9rem;
    padding: 2rem;
  }
}

.tweet-list{
  margin: 0 auto;
  max-width: 450px;
}

.tweet-item{
  background: #fff;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  line-height: 2rem;
  margin: 0 auto 2rem;
  padding: 2rem;

  &__tweet{
    margin: 0 auto 1rem;
    padding: 0;
  }

  &__action{
    color: #663FEF;
    font-style: italic;
    font-weight: bold;
    position: relative;
    text-decoration: none;
  }
}

#result-hero{
  h1{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    line-height: 6rem;
    margin: 0;
    padding: 0 0 1rem;
    text-align: center;
    white-space: pre-line;
  }

  h2{
    color: #663FEF;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin: 0 0 4rem;
    padding: 0;
    text-align: center;

    &:after{
      background: #53FFDB;
      content: "";
      display: block;
      height: 3rem;
      margin: -2rem auto 0;
      max-width: 200px;
      width: 90%;
    }
  }
}

.result{
  margin: 2rem auto;
  max-width: 1200px;

  &__navigation{
    ul{
      display: none;

      background: #fff;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom: 1px solid #d1d5da;
      border-left: 1px solid #d1d5da;
      border-right: 1px solid #d1d5da;
      box-shadow: 0 1px 1px rgba(27, 31, 35, .1);
      box-sizing: border-box;
      list-style-type: none;
      margin: 0 1rem 2rem;
      padding: 0;
      width: calc(100% - 2rem);

      li{
        border-bottom: 1px solid #ddd;
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0 0 0 2.2rem;

        a{
          color: #888;
          text-decoration: none;

          &:hover{
            color: #663FEF;
          }

          &.active{
            color: #333;
            border-left: 2px solid #663FEF;
            font-weight: bold;
            padding-left: .5rem;
          }
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }

    .navigation-toggle{
      background: #f6f8fa;
      border: 1px solid #d1d5da;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(27, 31, 35, .1);
      box-sizing: border-box;
      color: #666;
      cursor: pointer;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 0 1rem;
      padding: 0 1rem;
      text-transform: uppercase;
      width: calc(100% - 2rem);
  
      .icon{
        color: #663FEF;
        display: inline-block;
        font-weight: bold;
        margin-right: .5rem;
  
        &--close{
          display: none;
        }
      }
    }

    &.active{
      ul{
        display: block;
      }

      .navigation-toggle{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .icon--close{
        display: inline-block;
      }
  
      .icon--open{
        display: none;
      }
    }
  }

  &__content{
    background: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 1rem;
    max-width: 1200px;
    width: calc(100% - 2rem);
  }

  &__pagination{
    display: flex;
    height: 40px;
    line-height: 40px;
    justify-content: space-between;

    a{
      color: #888;
      padding: 0 1rem;
      text-decoration: none;

      &:hover{
        opacity: .8;
      }

      strong{
        color: #663FEF;
      }
    }

    &:first-child{
      border-bottom: 1px solid #eee;
    }

    &:last-child{
      border-top: 1px solid #eee;
    }
  }

  &__body{
    padding: 1rem;

    p{
      line-height: 200%;
    }

    h1{
      color: #333;
      font-family: 'Playfair Display', serif;
      line-height: 150%;
      margin: 0;
      padding: 0;
    }

    h2{
      color: #555;
    }

    li{
      margin-bottom: .5rem;
    }

    #chart-container{
      border: 1px solid #eee;
      border-radius: 3px;
      margin: 2rem auto;
      padding: .5rem;
    }
  }

  &__share{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .button{
      flex: 1;
      padding: 0 1rem;
    }

    .button:first-child{
      margin-left: 0;
      margin-right: 10px;
    }

    .button:last-child{
      margin-right: 0;
      margin-left: 10px;
    }
  }

  .num{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }
}

.results{
  background: #fff6d2;

  header{
    #navigation{
      .logo{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media only screen and (min-width: 1200px){
  .result{
    display: flex;

    &__navigation{
      font-size: .8rem;
      flex: 25%;
      margin-top: 1rem;

      .navigation-toggle{
        display: none;
      }

      ul{
        border: 1px solid #d1d5da;
        border-radius: 3px;
        display: block;
      }
    }

    &__content{
      border: 1px solid #d1d5da;
      border-radius: 3px;
      flex: 75%;
    }

    &__pagination{
      font-size: .9rem;
    }

    &__body{
      padding: 2rem;
    }
  }
}